body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	background-color: #336699;
}

.hide {
	display: none;
}

.show {
	display: block;
}

input {
	/* but why tho? */
	width: 99%;
	margin-top: 10px;
	font-size: 24px;
	line-height: 24px;
	color: #336699;
}

input:focus {
	border-color: blue;
}

.outerBall {
	width: 700px;
	height: 700px;
	border-radius: 50%;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.innerBall {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.innerBallGrey {
	background-color: grey;
}

.innerTriangle {
	width: 0;
	height: 0;
	border: 100px solid transparent;
	border-top: 200px solid blue;
	border-bottom: 0;
	margin-top: 32px;
}

.innerNumber {
	font-size: 120px;
	font-weight: bolder;
	position: absolute;
}

#answers {
	position: absolute;
	text-align: center;
	color: #fff;
	font-weight: bold;
	z-index: 1;
	max-width: 125px;
	padding-bottom: 40px;
}

button {
	background-color: #fff;
	border: 2px solid #336699;
	padding: 24px 32px;
	cursor: pointer;
	margin: 10px 0 0 0;
	text-align: center;
	font-weight: bolder;
	transition: all 500ms ease;
	color: #336699;
}

button:hover {
	background-color: #336699;
	border: 2px solid #fff;
	color: #fff;
}

.clearStorage {
	float: right;
}

.questionContainer, .questionAnswerContainer {
	font-size: 24px;
	line-height: 24px;
	margin-top: 16px;
	color: #fff;
}

.question {
	margin: 15px 0 2px;
}